.player__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player__content{
    height: 390px;
    max-width: 660px;
}
@media (max-width:768px){
  .player__content{
      max-width: 90%;
  }
  .player__title{
      font-size: 26px;
  }
}